/*
 Copyright (c) 2026 Ashraf Morningstar
 These are personal recreations of existing projects, developed by Ashraf Morningstar
 for learning and skill development.
 Original project concepts remain the intellectual property of their respective creators.
 Repository: https://github.com/AshrafMorningstar
*/

name: GitHub Profile Stats

on:
  schedule:
    # run everyday at 12:00 UTC
    - cron: "0 12 * * *"
  workflow_dispatch:

permissions:
  # Give the default GITHUB_TOKEN write permission to commit and push the
  # added or changed files to the repository.
  contents: write

jobs:
  Collect-GitHub-Stats:
    runs-on: ubuntu-latest
    concurrency:
      group: stats-concurrency
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6

      - name: profile-stats
        uses: AshrafMorningstar/stats-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - uses: stefanzweifel/git-auto-commit-action@v7
